@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* body {
    background-color: black;
} */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif; */
    padding: 0;
}

header {
    /* background-repeat: no-repeat; */
    padding: 2rem 2rem;
    background-image: url(/desktop/image-header.jpg);
    height: 100vh;
    color: hsl(0, 0%, 100%);
    background-size: cover;
}

.specx {
    text-align: center;

}

h1 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 4rem;
    word-spacing: 12px;
    letter-spacing: 10px;
}

p {
    font-size: 18px;
}

.first-list {
    display: flex;
    list-style-type: none;
}

.list-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: block;
    padding: 13px 25px;

}

.list-link:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 27px;
    font-family: 'Fraunces', serif;
}

nav {
    display: flex;
    justify-content: space-between;
}